---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HowToPlay from "../components/HowToPlay.astro";
import SessionBanner from "../components/SessionBanner.astro";
import Session from "../components/Session.astro";
import Divider from "../components/Divider.astro";
import Facebook from "../components/Facebook.astro";
---

<Layout title="Welcome to Astro.">
  <Header />

  <div space="y-4">
    <HowToPlay />

    <div space="y-4" p="x-2">
      <SessionBanner />
      <p>
        Our first division adult team welcomes new members for a competitive and
        fun session
      </p>
      <div grid="~ cols-2" gap="2">
        <Session
          day="Thursday"
          time="19:00 - 21:00"
          address="Inspire: Luton Sports Village, Butterfield Green Rd, Luton, LU2 8DD"
        />
        <Session
          day="Sunday"
          time="18:00 - 20:00"
          address="Flitwick Leisure Centre, Steppingley Rd, Flitwick, MK45 1TH"
        />
      </div>
      <p>
        The sunday session is ideal for those with less experience or those who
        are new to the sport
      </p>
      <p text="sm">
        <strong>Prices:</strong> £7/session or £25/month (one session per week)
        or £37/month (all sesssions). First session free
      </p>
    </div>

    <Divider />

    <div space="y-4" p="x-2">
      <SessionBanner />
      <p>
        Your child needs no experience but must be confident in the water and
        able to swim 25m unaided. Kit can be provided.
      </p>
      <div w="1/2" mx="auto">
        <Session
          day="Sunday"
          time="17:00 - 18:00"
          address="Flitwick Leisure Centre, Steppingley Rd, Flitwick, MK45 1TH"
        />
      </div>
      <p text="sm">
        <strong>Price:</strong> £16/month. First session free.
      </p>
    </div>

    <Divider />

    <div p="x-2">
      <Facebook />
    </div>

    <Divider />

    <div p="x-2">
      <div>
        <div>
          <h4>Policies</h4>
          <ul>
            <li>Data Protection</li>
            <li>Terms and conditions</li>
            <li>Refunds</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</Layout>
