---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HowToPlay from "../components/HowToPlay.astro";
import SessionBanner from "../components/SessionBanner.astro";
import Session from "../components/Session.astro";
import Divider from "../components/Divider.astro";
import Facebook from "../components/Facebook.astro";
---

<Layout title="Welcome to Astro.">
  <Header />

  <div bg="gray-50">
    <div space="y-8" max-w="md:[1024px]" mx="auto">
      <!-- <HowToPlay /> -->
      <Divider />

      <div class="md:grid" grid="cols-2" gap="8" px="2 md:0">

        <div space="y-4">
          <SessionBanner title="Senior Sessions" subtitle="(Over 16)" image="adults.jpg" />
          <p px="2">
            Our first division adult team welcomes new members for a competitive and
            fun session
          </p>
          <div grid="~ cols-2" gap="2">
            <Session
              day="Thursday"
              time="19:00 - 21:00"
              address="Inspire Sports Village, Butterfield Green Rd, Luton, LU2 8DD"
            />
            <Session
              day="Sunday"
              time="18:00 - 20:00"
              address="Flitwick Leisure Centre, Steppingley Rd, Flitwick, MK45 1TH"
            />
          </div>
          <p text="sm" px="2">
            <strong>Prices:</strong> £7/session or £25/month (one session per week)
            or £37/month (all sesssions). First session free
          </p>
          <div px="2" flex="~ row" space="x-2">
            <img src="icon-information.svg" display="inline-block" w="5 " />
            <p text="sm">
              The sunday session is ideal for those with less experience or those who
              are new to the sport
            </p>
          </div>
          <div class="md:hidden">
            <Divider  />
          </div>
        </div>

        <div space="y-4">
          <SessionBanner title="Junior Sessions" subtitle="(9 to 16 years)" image="junior.jpg" />
          <p px="2">
            Your child needs no experience but must be confident in the water and
            able to swim 25m unaided. Kit can be provided.
          </p>
          <div w="1/2" mx="auto">
            <Session
              day="Sunday"
              time="17:00 - 18:00"
              address="Flitwick Leisure Centre, Steppingley Rd, Flitwick, MK45 1TH"
            />
          </div>
          <p text="sm" px="2">
            <strong>Price:</strong> £16/month. First session free.
          </p>
          <div class="md:hidden">
            <Divider  />
          </div>
        </div>

      </div>

      <div class="hidden md:block" >
        <Divider />
      </div>

      <div p="x-2" grid="cols-1 md:cols-4" class="block md:grid">
        <div class="col-span-2">
          <Facebook  />
        </div>
        <!-- <div>
          <h5 font="semibold">Policies</h5>
        </div> -->
        <!-- <div>Links</div> -->
      </div>

      <Divider />


    </div>
  </div>
</Layout>
