<a flex="~ row" href="https://www.facebook.com/groups/463433050485035/" target="_blank">
  <img src="icon-facebook.svg" w="10" h="10" />
  <div flex="~ col grow-1">
    <h6 text="xs" class="leading-tight"">Follow us on Facebook</h6>
    <h3 font="semibold" class="leading-tight">Dunstable Underwater Hockey Club</h3>
  </div>
</a>
