<header p="4" space="y-10" pb="md:20" max-w="md:[1024px]" mx="auto">
  <div flex="~ row-reverse" pt="4">
    <a
      bg="purple-950"
      cursor="pointer"
      py="1"
      px="4"
      border="rounded-xl"
      text="white">Contact us</a
    >
  </div>

  <img src="/logo_small.png" max-w="[300px]" mx="auto" style="aspect-ratio: 400 / 171" />

  <div space="y-4" text="center" max-w="[600px]" mx="auto">
    <p>
      Dunstable Underwater Hockey Club (DUWH) formed in 1972 and has a first division adult team and a lively junior team with friendly and supportive coaches
    </p>
  </div>
</header>

<style is:global>
  .background-heading {
    background-image: url('mobile-background.jpg');
  }
  @media (min-width: 768px) {
    .background-heading {
      background-image: url('desktop-background.jpg')
    }
  }
  </style>