<header p="4" space="y-6">
  <div flex="~ row-reverse">
    <a
      bg="purple-950"
      cursor="pointer"
      py="1"
      px="4"
      border="rounded-xl"
      text="white">Contact us</a
    >
  </div>

  <img src="#" />

  <div space="y-4" text="center">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in massa
      ut odio imperdiet convallis.
    </p>
    <p>
      Nunc congue urna eget risus pretium imperdiet. Praesent eget feugiat
      purus, nec molestie enim.
    </p>
  </div>
</header>
