---
interface Props {
  title: string;
  subtitle: string;
  image?: string;
}

const { title, subtitle, image } = Astro.props;
---
<div bg="purple-950 no-repeat cover" border="4 purple-950" pt="15" style={{ backgroundImage: `url(${image})` }}>
  <h2 text="lg white" bg="purple-950/70" class="leading-tight" p="2"  shadow="lg" font="bold">{title} <small ml="2">{subtitle}</small></h2>
</div>