<div bg="gray-100" p="4" text="center" space="y-6">
  <div>
    <h3 font="bold" text="lg purple-950">Sunday</h3>
    <p>19:00 - 21:00</p>
  </div>

  <div text="left">
    <h4 font="bold">Flitwick Leisure Centre</h4>
    <p>Steppingly Road</p>
    <p>Flitwick</p>
    <p>MK45 1TH</p>
  </div>
</div>
