---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body bg="gray-50" text="gray-500 base">
    <div bg="contain" class="background-heading">
      <div>
        <slot />
      </div>
    </div>
  </body>
</html>
<style is:global>
  .background-heading {
    background-image: url("/mobile-background.jpg");
  }
  @media (min-width: 768px) {
    .background-heading {
      background-image: url("/desktop-background.jpg");
    }
  }
</style>
